{% extends "layout.njk" %}


{% block titlePage %}Balance{% endblock %}

{% block content %}

<div class="eventsList">

<table class="table table-striped table-bordered table-sm">

  <thead class="thead-dark">
    <tr>
      <th>
        Who
      </th>
      <th>
        Action
      </th>
      <th>
        To
      </th>
      <th>
        Amount
      </th>

    </tr>
  </thead>

  <tbody>

    <tr>
      <td>
        Amid
      </td>
      <td>
        doit
      </td>
      <td>
        123.00 €
      </td>
      <td>
        Flo
      </td>

    </tr>

    <tr>
      <td>
        Dom
      </td>
      <td>
        doit
      </td>
      <td>
        12.00 €
      </td>
      <td>
        Amid
      </td>

    </tr>

    <tr>
      <td>
        Julien
      </td>
      <td>
        doit
      </td>
      <td>
        34.00 €
      </td>
      <td>
        Flo
      </td>

    </tr>

  </tbody>

</table>


</div>

{% endblock %}
