{% extends "layout.njk" %}


{% block titlePage %}{{ titre }}{% endblock %}

{% block content %}

  <div class="row">


    <div class="col">

      <h3 class="text-center">The event</h3>



      <form action="/postEvent" method="POST">


        <input type="hidden" class="form-control" name="id" placeholder="name@example.com" value="{{ event.id }}">


        <div class="form-group">
          <label for="title">Title : *</label>
          <input type="text" required class="form-control" name="title" id="title" placeholder="title" value="{{ event.title }}">
        </div>

        <div class="form-group">
          <label for="place">Place : *</label>
          <input type="text" required class="form-control" name="place" id="place" placeholder="place" value="{{ event.place }}">
        </div>

        <div class="form-group">
          <label for="place">Date : *</label>
          <input type="text" required class="form-control" name="date" id="date" placeholder="YYYY-MM-DD" value="{{ event.date }}">
        </div>

        <div class="form-group">
          <label for="place">Status : *</label>
          <input type="text" required class="form-control" name="status" id="status" placeholder="status" value="{{ event.status }}">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-block btn-primary">Validate the event</button>
        </div>

      </form>


    </div>

    <div class="col">

      {%if event.id != "new" %}
      <h3 class="text-center">The participants</h3>

      <form action="/addParticipant" method="POST" class="form-inline">

        <input type="hidden" class="form-control" name="id" placeholder="name@example.com" value="{{ event.id }}">

        <div class="form-group">

          <input type="text" required class="form-control" name="first_name" id="user" placeholder="user">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-block btn-primary">Add user</button>
        </div>
      </form>

      {% endif %}

    </div>

  </div>





</form>

{% endblock %}
