{% extends "layout.njk" %}


{% block titlePage %}Events list{% endblock %}

{% block content %}

<div class="eventsList">

<table class="table-fill">

  <thead class="thead-dark">
    <tr>
      <th class="text-center">
        Event
      </th>
      <th class="text-center">
        Place
      </th>
      <th class="text-center">
        Date
      </th>
      <th class="text-center">
        status
      </th>
      <th class="text-center">
        <a href="/events/new" class="btn btn-block btn-add-design btn-sm" styme="top: 50px">Ajouter</a>
      </th>
    </tr>
  </thead>

  <tbody class="table-hover">
    {% for event in events %}
    <tr>
      <td class="text-center">
        {{ event.title}}
      </td>
      <td class="text-center">
        {{ event.place }}
      </td>
      <td class="text-center">
        {{ event.date }}
      </td>
      <td class="text-center">
        {{ event.status }}
      </td>
      <td>
        <a href="/events/{{ event.id }}/edit" class="btn btn-block btn-table-design btn-sm btn-table-hover text-white-hover">Modifier</a>
      </td>
      <td >
        <a href="/events/{{event.id}}/spendings/list" class="btn btn-block btn-table-design btn-sm btn-table-hover text-white-hover">Dépenses</a>
      </td>
      <td>
        <a href="/events/{{event.id}}/balance" class="btn btn-block btn-info btn-sm">Balance</a>
      </td>
    </tr>
    {% endfor %}

  </tbody>

</table>


</div>

{% endblock %}
