<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.sharepay.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body class="background-authenticate-page">
      <div class="container-login-chosse">
  <div class="logoLogin">
    <img src="image/LogoSharePayFondTransBlack.png" width="100%"/>
  </div>
    <div class="login-container">
      <h3 class="loginTitle">Connection</h3>
          <form action="/login" method="POST" class="mx-2">
            <div class="myform-group">
              <label for="username" class="text-white">Email address:</label>
              <input type="text" class="form-control-design mb-2" name="username">
            </div>
            <div class="myform-group">
              <label for="password" cmass="text-white">Password:</label>
              <input type="password" class="form-control-design" name="password">
            </div>
            <button type="submit" class="btn-login-design text-blue" style="width:100px; float:right; margin-top: 20px">Login</button>
          </form>
        </div>
      </div>
</body>
</html>
