<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.sharepay.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body class="background-login">
{% block content %}
  <div class="logoLogin text-center">
    <img src="image/LogoSharePayFondTransBlack.png"/>
  </div>
  <div class="container">
    <div class="jumbotron">
      <h3 class="loginTitle">Connection</h3>
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="username">Email address:</label>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" name="password">
            </div>
            
            <button type="submit" class="btn btn-default btn-login-design" style="float:right; width:125px; margin: 0">Login</button>
          </form>

    </div>

  </div>
{% endblock %}
</body>
</html>
