{% extends "layout.njk" %}
{% block titlePage %}
  Creating a new expense : {{elements[0].title}}
{% endblock %}

{% block content %}
<form class="" action="/events/:id" method="post">
<div class="container">

  <div class="row">
    <div class="col">
      <div class="expenseform-group">
        <label for="expenseTitle">name of purchase</label>
        <input type="text" class="form-control" name="expenseTitle" placeholder="What">
        <br>
        <label for="expenseDescription">Descripton</label>
        <textarea class="form-control" name="expenseDescription" rows="3"></textarea>
        <br>
        <label for="expensePrice">amount of the purchase</label>
        <input type="number" min="0.00" class="form-control" name="expensePrice" placeholder="How much in € ?">
        <br>
        <label for="expenseDate">Purchase date</label>
        <input type="date" class="form-control" name="expenseDate" placeholder="When">
      </div>
    </div>
    <div class="col">
      <div class="expenseform-group">
        <label for="expenseDescription">Who benefits?</label>
        <br>
        <FORM NAME="eventMate" method="POST">
            {% for element in elements%}
            <INPUT TYPE="CHECKBOX" NAME=recipient VALUE={{element.first_name}}> {{element.first_name}} {{element.last_name}} <BR>
            {%endfor%}
        </FORM>
      </div>
    </div>
</div>
<br>
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>





{# <div>
  <table class="table table-striped">
<thead class="text-light bg-dark">
  <tr>
    <th scope="col-8">{{firstname}}</th>
  </tr>
</thead>
<tbody>
    {% for categorie in categories%}
    <tr>
      <td>{{categorie.label}}</a></td>
    </tr>
    {%endfor%}
</tbody>
</table>
</div> #}


{% endblock %}
