<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.sharepay.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body class="background-authenticate-page">
      <div class="container-login-chosse">
  <div class="logoRegister">
    <img src="image/LogoSharePayFondTransBlack.png" width="100%"/>
  </div>
  <div class="register-container">
      <h3 class="loginTitle">Registration</h3>
          <form action="/register" method="POST" class="mx-2">
            <div class="form-group">
              <label class="text-white" for="firstname">First Name:</label>
              <input type="text" class="form-control-design" name="firstname">
            </div>
            <div class="form-group">
              <label class="text-white"
              for="lastname">Last Name:</label>
              <input type="text" class="form-control-design" name="lastname">
            </div>
            <div class="form-group">
              <label class="text-white"
              for="username">Email address:</label>
              <input type="text" class="form-control-design" name="username">
            </div>
            <div class="form-group">
              <label
              class="text-white" for="password">Password:</label>
              <input type="password" class="form-control-design" name="password">
            </div>
            {% if error %}<a class="text-white">Email Already Exist <br>
              Retape your inscription with other email or <a href="/login">login you</a>{% endif%}
            <button type="submit" class="btn-login-design text-blue" style="width:100px; float:right; margin-top: 20px">Sign In</button>
          </form>
    </div>
</div>
</body>
</html>
