{% extends "layout.njk" %}
{% block titlePage %}SPENDINGS TO EVENTS {{elements[0].title}}{% endblock %}
{% block content %}
<table class="table table-striped table-bordered table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Spendings Title</th>
      <th scope="col">Author</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for element in elements %}
    <tr>
      <th scope="row">{{element.title}}</th>
      <td>{{element.first_name}} {{element.last_name}}</td>
      <td>{{element.amount / 100}}</td>
      <td>{{element.date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<button type="button" onclick="window.location='/events/{{elements[0].id_event}}/spendings/new'" class="btn-login-design text-blue" style="float:right">
  <a class="boldUppercase">A</a>dd <a class="boldUppercase">S</a>pending
</button>


{% endblock %}
